APScheduler==3.0.3
corenlp-python==3.2.0.post3
docutils==0.11
futures==2.2.0
Jinja2==2.7.2
MarkupSafe==0.23
numpydoc==0.4
-e git+https://github.com/openeventdata/petrarch.git@5fe92b676e8b4fb9a1964e7da55e9c95e9a5745f#egg=petrarch-master
pexpect==3.2
Pygments==1.6
pymongo==2.7
python-dateutil==2.2
pytz==2015.2
PyYAML==3.11
requests==2.3.0
six==1.6.1
Sphinx==1.2.2
tzlocal==1.1.3
Unidecode==0.4.16
xmltodict==0.9.0
